body {
    font-family: Courier;    
    background-color: black;         
    color: whitesmoke;    
}

.container-row {      
    align-items: center;
    display: flex;  
    flex-direction: row;         
}

.container-col {          
    align-items: center;    
    display: flex;  
    flex-direction: column;       
}

.room {
    padding-top: 20px;    
    padding-bottom: 8px;
}

input, button {            
    width: 200px;    
    border-radius: 2px; 
    border-width: 0px;        
    padding: 10px;  
    margin-top: 3px;  
}

p {    
    font-size: larger;  
    padding-top: 10px;
}

button {   
    color: white;  
    width: 220px;  
    font-size: medium;
    
}

.redButton {
    background-color: rgb(194, 27, 27);
}   

.greenButton {
    background-color: rgb(10, 121, 10);
}   

#messageBox {
    padding-top: 10px;    
    font-size: 40px;        
}

img {    
    border: solid 8px black;       
    max-width: 134px;
    max-height: 120px; 
    width: fit-content;       
    height: fit-content;  
    background-color: white; 
    background-repeat: no-repeat;
    background-size: contain;
} 

/* Animation code */
@keyframes combinationAnimation {
    from {border-color: rgb(255, 187, 0);} 
    to {border-color: yellow;}
}  

@keyframes messageAnimation {    
    to {color: red;}    
}  